In [1]:
import pandas as pd
import numpy as np

dataset = pd.read_csv("train.csv")
test_dataset = pd.read_csv("test.csv")

In [2]:
pd.set_option('display.max_rows', None)
pd.set_option('display.max_columns', None)
dataset.head(20)

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True
5,0005_01,Earth,False,F/0/P,PSO J318.5-22,44.0,False,0.0,483.0,0.0,291.0,0.0,Sandie Hinetthews,True
6,0006_01,Earth,False,F/2/S,TRAPPIST-1e,26.0,False,42.0,1539.0,3.0,0.0,0.0,Billex Jacostaffey,True
7,0006_02,Earth,True,G/0/S,TRAPPIST-1e,28.0,False,0.0,0.0,0.0,0.0,NaN,Candra Jacostaffey,True
8,0007_01,Earth,False,F/3/S,TRAPPIST-1e,35.0,False,0.0,785.0,17.0,216.0,0.0,Andona Beston,True
9,0008_01,Europa,True,B/1/P,55 Cancri e,14.0,False,0.0,0.0,0.0,0.0,0.0,Erraiam Flatic,True
10,0008_02,Europa,True,B/1/P,TRAPPIST-1e,34.0,False,0.0,0.0,NaN,0.0,0.0,Altardr Flatic,True
11,0008_03,Europa,False,B/1/P,55 Cancri e,45.0,False,39.0,7295.0,589.0,110.0,124.0,Wezena Flatic,True
12,0009_01,Mars,False,F/1/P,TRAPPIST-1e,32.0,False,73.0,0.0,1123.0,0.0,113.0,Berers Barne,True
13,0010_01,Earth,False,G/1/S,TRAPPIST-1e,48.0,False,719.0,1.0,65.0,0.0,24.0,Reney Baketton,False
14,0011_01,Earth,False,F/2/P,TRAPPIST-1e,28.0,False,8.0,974.0,12.0,2.0,7.0,Elle Bertsontry,True
15,0012_01,Earth,False,NaN,TRAPPIST-1e,31.0,False,32.0,0.0,876.0,0.0,0.0,Justie Pooles,False
16,0014_01,Mars,False,F/3/P,55 Cancri e,27.0,False,1286.0,122.0,NaN,0.0,0.0,Flats Eccle,False
17,0015_01,Earth,False,F/4/P,55 Cancri e,24.0,False,0.0,1.0,0.0,0.0,637.0,Carry Hughriend,False
18,0016_01,Mars,True,F/5/P,TRAPPIST-1e,45.0,False,0.0,0.0,0.0,0.0,0.0,Alus Upead,True
19,0017_01,Earth,False,G/0/P,TRAPPIST-1e,0.0,False,0.0,0.0,0.0,0.0,0.0,Lyde Brighttt,True

In [3]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [4]:
test_dataset.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name
0,0013_01,Earth,True,G/3/S,TRAPPIST-1e,27.0,False,0.0,0.0,0.0,0.0,0.0,Nelly Carsoning
1,0018_01,Earth,False,F/4/S,TRAPPIST-1e,19.0,False,0.0,9.0,0.0,2823.0,0.0,Lerome Peckers
2,0019_01,Europa,True,C/0/S,55 Cancri e,31.0,False,0.0,0.0,0.0,0.0,0.0,Sabih Unhearfus
3,0021_01,Europa,False,C/1/S,TRAPPIST-1e,38.0,False,0.0,6652.0,0.0,181.0,585.0,Meratz Caltilter
4,0023_01,Earth,False,F/5/S,TRAPPIST-1e,20.0,False,10.0,0.0,635.0,0.0,0.0,Brence Harperez

In [5]:
numerical_features = ["Age", "RoomService", "FoodCourt", "ShoppingMall", "Spa", "VRDeck"]
categorical_features = ["HomePlanet", "CryoSleep", "Destination"]

In [6]:
from sklearn.impute import SimpleImputer
from sklearn.base import BaseEstimator, TransformerMixin

class NumericalImputer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        imputer = SimpleImputer(strategy="mean")
        X[numerical_features]= imputer.fit_transform(X[numerical_features])
        return X

In [7]:
class categoricalImputer(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        imputer = SimpleImputer(strategy="most_frequent")
        X[categorical_features]= imputer.fit_transform(X[categorical_features])
        return X

In [8]:
class FeatureDropper(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X.drop(["Cabin","VIP","Name"], axis=1, errors="ignore")

In [9]:
from sklearn.pipeline import Pipeline

pipeline = Pipeline([("NumericalImputer", NumericalImputer()),
                     ("categoricalImputer", categoricalImputer()),
                    ("FeatureDropper", FeatureDropper())])

In [10]:
processed_train_data = pipeline.fit_transform(dataset)
processed_test_data = pipeline.fit_transform(test_dataset)

In [11]:
processed_train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8693 non-null   object
 2   CryoSleep     8693 non-null   object
 3   Destination   8693 non-null   object
 4   Age           8693 non-null   float64
 5   RoomService   8693 non-null   float64
 6   FoodCourt     8693 non-null   float64
 7   ShoppingMall  8693 non-null   float64
 8   Spa           8693 non-null   float64
 9   VRDeck        8693 non-null   float64
 10  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(4)
memory usage: 687.8+ KB

In [12]:
processed_test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   4277 non-null   object
 1   HomePlanet    4277 non-null   object
 2   CryoSleep     4277 non-null   object
 3   Destination   4277 non-null   object
 4   Age           4277 non-null   float64
 5   RoomService   4277 non-null   float64
 6   FoodCourt     4277 non-null   float64
 7   ShoppingMall  4277 non-null   float64
 8   Spa           4277 non-null   float64
 9   VRDeck        4277 non-null   float64
dtypes: float64(6), object(4)
memory usage: 334.3+ KB

In [13]:
processed_train_data[['PassengerId_Part1', 'PassengerId_Part2']] = processed_train_data['PassengerId'].str.split('_', expand=True)
processed_test_data[['PassengerId_Part1', 'PassengerId_Part2']] = processed_test_data['PassengerId'].str.split('_', expand=True)

#Convert
processed_train_data['PassengerId_Part1'] = pd.to_numeric(processed_train_data['PassengerId_Part1'])
processed_train_data['PassengerId_Part2'] = pd.to_numeric(processed_train_data['PassengerId_Part2'])

processed_test_data['PassengerId_Part1'] = pd.to_numeric(processed_train_data['PassengerId_Part1'])
processed_test_data['PassengerId_Part2'] = pd.to_numeric(processed_train_data['PassengerId_Part2'])

In [14]:
#drop the old column
to_encode_train_data = processed_train_data.drop(["PassengerId"], axis=1, errors="ignore")
to_encode_test_data = processed_test_data.drop(["PassengerId"], axis=1, errors="ignore")

to_encode_train_data.head()

,HomePlanet,CryoSleep,Destination,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Transported,PassengerId_Part1,PassengerId_Part2
0,Europa,False,TRAPPIST-1e,39.0,0.0,0.0,0.0,0.0,0.0,False,1,1
1,Earth,False,TRAPPIST-1e,24.0,109.0,9.0,25.0,549.0,44.0,True,2,1
2,Europa,False,TRAPPIST-1e,58.0,43.0,3576.0,0.0,6715.0,49.0,False,3,1
3,Europa,False,TRAPPIST-1e,33.0,0.0,1283.0,371.0,3329.0,193.0,False,3,2
4,Earth,False,TRAPPIST-1e,16.0,303.0,70.0,151.0,565.0,2.0,True,4,1

In [15]:
from sklearn.preprocessing import OneHotEncoder

class FeatureEncoder(BaseEstimator, TransformerMixin):

    def fit(self, X, y=None):
        return self
    def transform(self, X):
        encoder = OneHotEncoder()
        matrix = encoder.fit_transform(X[['CryoSleep']]).toarray()
        
        column_names = ['True', 'False']
        
        for i in range(len(matrix.T)):
            X[column_names[i]] = matrix.T[i]
            
        matrix = encoder.fit_transform(X[['HomePlanet']]).toarray()
        
        column_names = ['Earth', 'Europa', 'Mars']
        
        for i in range(len(matrix.T)):
            X[column_names[i]] = matrix.T[i]

        matrix = encoder.fit_transform(X[['Destination']]).toarray()
        
        column_names = ['TRAPPIST-1e', '55 Cancri e', 'PSO J318.5-22']
        
        for i in range(len(matrix.T)):
            X[column_names[i]] = matrix.T[i]
        return X

In [16]:
class FeatureDropper(BaseEstimator, TransformerMixin):
    def fit(self, X, y=None):
        return self
    def transform(self, X):
        return X.drop(['CryoSleep', 'HomePlanet', 'Destination'], axis=1, errors="ignore")

In [17]:
encoder_pipeline = Pipeline([("featureEncoder", FeatureEncoder()),
                            ("FeatureDropper", FeatureDropper())])

In [18]:
final_train_set = encoder_pipeline.fit_transform(to_encode_train_data)
final_test_set = encoder_pipeline.fit_transform(to_encode_test_data)

In [19]:
final_test_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4277 entries, 0 to 4276
Data columns (total 16 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                4277 non-null   float64
 1   RoomService        4277 non-null   float64
 2   FoodCourt          4277 non-null   float64
 3   ShoppingMall       4277 non-null   float64
 4   Spa                4277 non-null   float64
 5   VRDeck             4277 non-null   float64
 6   PassengerId_Part1  4277 non-null   int64
 7   PassengerId_Part2  4277 non-null   int64
 8   True               4277 non-null   float64
 9   False              4277 non-null   float64
 10  Earth              4277 non-null   float64
 11  Europa             4277 non-null   float64
 12  Mars               4277 non-null   float64
 13  TRAPPIST-1e        4277 non-null   float64
 14  55 Cancri e        4277 non-null   float64
 15  PSO J318.5-22      4277 non-null   float64
dtypes: float64(14), int64(2)
memory usage: 534.8 KB

In [20]:
time_to_train = final_train_set.drop(['Transported'], axis=1, errors="ignore")

In [21]:
final_train_set.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 17 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                8693 non-null   float64
 1   RoomService        8693 non-null   float64
 2   FoodCourt          8693 non-null   float64
 3   ShoppingMall       8693 non-null   float64
 4   Spa                8693 non-null   float64
 5   VRDeck             8693 non-null   float64
 6   Transported        8693 non-null   bool
 7   PassengerId_Part1  8693 non-null   int64
 8   PassengerId_Part2  8693 non-null   int64
 9   True               8693 non-null   float64
 10  False              8693 non-null   float64
 11  Earth              8693 non-null   float64
 12  Europa             8693 non-null   float64
 13  Mars               8693 non-null   float64
 14  TRAPPIST-1e        8693 non-null   float64
 15  55 Cancri e        8693 non-null   float64
 16  PSO J318.5-22      8693 non-null   float64
dtypes: bool(1), float64(14), int64(2)
memory usage: 1.1 MB

In [22]:
#Begin Model selection
import xgboost as xgb
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

#split the features
X = time_to_train
y = final_train_set['Transported']

#split the data into training and validation sets
X_train, X_val, y_train, y_val = train_test_split(X, y, test_size=0.2, random_state=42)

In [23]:
#make the XGboost model
xg_model = xgb.XGBClassifier()

#Train the model using the training data
xg_model.fit(X_train, y_train)

y_val_prediction = xg_model.predict(X_val)
accuracy = accuracy_score(y_val, y_val_prediction)

print("Validation Accuracy:", accuracy)

Validation Accuracy: 0.780333525014376

In [26]:
X_test = final_test_set

In [27]:
predictions = xg_model.predict(X_test)
predictions = predictions.astype(str)
predictions = np.char.replace(predictions, '0', 'False')
predictions = np.char.replace(predictions, '1', 'True')

In [29]:
predictions_df = pd.DataFrame()
predictions_df['PassengerId'] = test_dataset['PassengerId']
predictions_df['Transported'] = predictions

In [30]:
predictions_df.head()

  PassengerId Transported
0     0013_01        True
1     0018_01       False
2     0019_01        True
3     0021_01        True
4     0023_01        True

In [31]:
predictions_df.to_csv('predictions.csv', index=False)